<div class="entry-container" *ngIf="selectedPokemon; else noPokemonDisplay">
    <h2 class="entry-name">{{ selectedPokemon.name | uppercase }}</h2>
    <div class="entry-details">
        <div class="entry-number">{{ pokemonNumberDisplay }}</div>
        <span>
            Type:
            <span *ngFor="let type of selectedPokemonTypes">
                <span [class]="'type ' + type">{{ type }}</span>
            </span>
        </span>
        <a routerLink="/pokedex/entry/{{ selectedPokemon.id }}">
            See Details →
        </a>
    </div>
</div>

<ng-template #noPokemonDisplay>
    <div class="entry-container">
        <h2 class="entry-name">Choose your Pokemon!</h2>
    </div>
</ng-template>
