.entry-container {
    background-color: lightgrey;
    padding: 4px 16px;
    border: 10px solid firebrick;
    border-radius: 15px;
    color: dimgray;

    .entry-name {
        background-color: dimgray;
        border-radius: 30px;
        padding: 10px;
        color: white;
        letter-spacing: 2.5px;
    }
    .entry-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .entry-number {
            font-size: 22px;
        }
    }
}
